<h1>Products</h1>
<p><%= link_to "Return to Home", root_path %></p>
<p><%= link_to "Create new product", new_product_path %></p>

<h4>All Products</h4>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet please add some. </p>
<% end %>